@import "./bootstrap";
@import "../components/bootstrap-daterangepicker/daterangepicker.scss";
@import "./bootstrap-datepicker.scss";

/**
 *  -------------------------------------------------------------------------
 *
 *  Mixins
 */

// Responsive Table Div
@mixin alignment($context, $value) {
  &.#{$value} > [class*='tbl-row'] > [class*='tbl-cell'],
  &.#{$value} > [class*='tbl-cell'],
  & > [class*='tbl-row'].#{$value} > [class*='tbl-cell'] {
    #{$context}-align: $value;
  }
  & > [class*='tbl-row'] > [class*='tbl-cell'].#{$value},
  & > [class*='tbl-cell'].#{$value} {
    #{$context}-align: $value !important;
  }
}

@mixin clac-tbl-grid($index, $type) {
  @if ($type == width) and ($index > 0) {
    &.col-#{$index} {
      width: percentage(($index / $grid-columns));
    }
  }

  @if ($type == push) and ($index > 0) {
    &.col-push-#{$index} {
      position: relative;
      left: percentage(($index / $grid-columns));
    }
  }
  @if ($type == pull) and ($index > 0) {
    &.col-pull-#{$index} {
      position: relative;
      right: percentage(($index / $grid-columns));
    }
  }

}

@mixin loop-tbl-column($columns, $type) {
  @for $i from 0 through $columns {
    @include clac-tbl-grid($i, $type);
  }
}

@mixin inside-tbl() {
  width: 100%;
  display: table;
  > [class*='tbl-row'] {
    display: table-row;

  }
  > [class*='tbl-row'] > [class*='tbl-cell'], > [class*='tbl-cell'] {
    display: table-cell;

    @include loop-tbl-column($grid-columns, width);
    @include loop-tbl-column($grid-columns, push);
    @include loop-tbl-column($grid-columns, pull);

    > p:last-child,
    > ul:last-child,
    > ol:last-child {
      margin-bottom: 0;
    }
  }

  &.height-100, .height-100 {
    height: 100%;
  }

  &.width-100, .width-100 {
    width: 100%;
  }

  &.nowrap, .nowrap {
    white-space: nowrap
  }

  &.box, &.box > [class*='tbl-row'], &.box > [class*='tbl-row'] > [class*='tbl-cell'], &.box > [class*='tbl-row'] > [class*='tbl-cell'] > * {
    &, &:after, &:before {

      -webkit-box-sizing: initial;
      -moz-box-sizing: initial;
      box-sizing: initial;
    }
  }

  @include alignment(vertical, top);
  @include alignment(vertical, middle);
  @include alignment(vertical, bottom);
  @include alignment(text, left);
  @include alignment(text, center);
  @include alignment(text, right);
}

@mixin make-rwd-tbl($size: false) {
  @if not $size {
    .tbl {
      @include inside-tbl();
    }
  } @else {
    .tbl-#{$size} {
      @include inside-tbl();
    }
  }

}

@mixin make-tbl-padding($pos) {
  .tbl-padding-#{$pos} {
    padding-#{$pos}: floor(($grid-gutter-width / 2));
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  HTML
 */
html, body {
  height: 100%;
}

body.modal-open {
  overflow: hidden;
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Tabbable headers
 */
h1, h2, h3, h4, h5, h6 {
  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Form
 */
input[type="checkbox"] {
  display: none;
  + label {
    margin: 0;
  }

  + label .checkbox {
    -webkit-font-smoothing: antialiased;
    background: white;
    border: 1px solid $gray;
    border-radius: $border-radius-base;
    cursor: pointer;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    height: 19px;
    line-height: 1;
    margin: 10px 15px 10px 0;
    position: relative;
    width: 19px;
    vertical-align: middle;
  }

  &:checked + label .checkbox:before {
    content: "\e013";
    position: absolute;
    top: 2px;
    left: 2px;
  }

}

.input-select {
  width: 100%;
  .form-control {
    width: 50%;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Margin
 */
.margin-0 {
  margin: 0;
}

.margin-top {
  margin-top: floor(($grid-gutter-width / 2));
}

.margin-bottom {
  margin-bottom: floor(($grid-gutter-width / 2));
}

.margin-left {
  margin-left: floor(($grid-gutter-width / 2));
}

.margin-right {
  margin-right: floor(($grid-gutter-width / 2));
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Padding
 */
.padding-0 {
  padding: 0;
}

.padding-top {
  padding-top: floor(($grid-gutter-width / 2));
}

.padding-bottom {
  padding-bottom: floor(($grid-gutter-width / 2));
}

.padding-left {
  padding-left: floor(($grid-gutter-width / 2));
}

.padding-right {
  padding-right: floor(($grid-gutter-width / 2));
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Responsive Table Div
 */
@include make-tbl-padding(top);
@include make-tbl-padding(right);
@include make-tbl-padding(bottom);
@include make-tbl-padding(left);

@include make-rwd-tbl();

@media (min-width: $screen-xs-min) {
  @include make-rwd-tbl(xs);
}

@media (min-width: $screen-sm-min) {
  @include make-rwd-tbl(sm);
}

@media (min-width: $screen-md-min) {
  @include make-rwd-tbl(md);
}

@media (min-width: $screen-lg-min) {
  @include make-rwd-tbl(lg);
}

table {
  width: 100%;
  border-collapse: collapse;
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Responsive Tables
 */
@media only screen and (max-width: $screen-sm-max) {

  /* Force table to not be like tables anymore */
  table.responsive, .responsive thead, .responsive tbody, .responsive th, .responsive td, .responsive tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .responsive thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .responsive tr {
    border: 1px solid #ccc;
    margin-bottom: floor(($grid-gutter-width / 2));
  }

  .responsive td:first-child {
    border-top: none;
  }

  .responsive td {
    /* Behave  like a "row" */
    border: none;
    position: relative;
    padding-left: 50% !important;
    min-height: 37px;
  }

  .responsive td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 8px;
    left: 8px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
    font-weight: bold;
  }

  /*
  Label the data
  */
  .responsive td:before {
    content: attr(data-table-header);
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Hoverable items
 */
.hoverable {
  margin-bottom: 0;
  padding: floor(($grid-gutter-width / 2));
  &:hover {
    background: $gray-lighter;
  }
}

.always-hoverable {
  margin-bottom: 0;
  padding: floor(($grid-gutter-width / 2));
  background: $gray-lighter;
}

.non-hoverable {
  margin-bottom: 0;
  padding: floor(($grid-gutter-width / 2));
}

.non-hoverable-side {
  margin-bottom: 0;
  padding: 0 floor(($grid-gutter-width / 2));
}

.expand-hoverable {
  margin-bottom: 0;
  padding-left: floor(($grid-gutter-width / 2));
  padding-right: floor(($grid-gutter-width / 2));

  &:hover {
    padding: floor(($grid-gutter-width / 2));
    background: $gray-lighter;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Image Frame
 */
.img-frame {
  overflow: hidden;
  position: relative;

  .img-container {
    -webkit-transform: translate(50%, 50%);
    -moz-transform: translate(50%, 50%);
    -ms-transform: translate(50%, 50%);
    -o-transform: translate(50%, 50%);
    transform: translate(50%, 50%);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .img-container img {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 100%;
    max-height: none;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
  }

  .img-overlay {
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }
  .img-overlay > .tbl {
    transition: all 0.5s;
    opacity: 0;
  }
  .img-overlay > .tbl p {
    margin: 0;
  }

  &:hover .img-overlay {
    background: rgba(0, 0, 0, 0.2);
  }

  &:hover .img-overlay > .tbl {
    opacity: 1;
  }

  .img-content {
    color: white;
    min-height: 250px;
    position: relative;
    z-index: 100;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Animation
 */

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  ngView
 */

.ng-enter {
  animation: 0.5s fadeIn ease;
}

.ng-leave {
  animation: 0.5s fadeOut ease;

}

/**
 *  -------------------------------------------------------------------------
 *
 *  alert
 */
.page-header {
  border-bottom: 1px solid $hr-border;
}

/**
 *  -------------------------------------------------------------------------
 *
 *  alert
 */
.alert {
  &.ng-hide-remove { // showing
    animation: 0.5s fadeInDown ease;
  }
  &.ng-hide-add { // hiding
    animation: 0.5s fadeOutUp ease;
  }
}

.alert.contribute {
  &.ng-hide-remove { // showing
    animation: 0.5s fadeIn ease;
  }
  &.ng-hide-add { // hiding
    animation: 0.5s fadeOut ease;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Site Header
 */

#site-masterhead {
  a {
    color: white;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .site-title {
    display: block;
    margin: floor(($grid-gutter-width / 2)) 0;
  }

  #site-navbar {
    background: $brand-primary;
    margin-bottom: floor(($grid-gutter-width / 2));
    color: white;

  }

}

/**
 *  -------------------------------------------------------------------------
 *
 *  Site Footer
 */
#site-footer footer {
  background: white;
  padding: floor(($grid-gutter-width / 2));
  p:last-child {
    margin-bottom: 0;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Start
 */
.start-modal {
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
}

.home-result {
  &.ng-hide-remove { // showing
    animation: 0.5s fadeIn ease;
  }

  &.ng-hide-add { // hiding
    animation: 0.5s fadeOut ease;
  }
}

/**
*  -------------------------------------------------------------------------
*
*  Bucketlist INfo
*/
.bucketlist-info {
  background: #f5f5f5;
  .contribute-info {
    background: white;
    border: 1px solid $gray-lighter;
    padding: floor(($grid-gutter-width / 2));
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  }
  .contribute-info .h1, .contribute-info .h2 {
    margin-top: 0;
  }
}

/**
*  -------------------------------------------------------------------------
*
*  Bucketlist
*/
.bucketlist-modal {
  &.ng-hide-remove { // showing
    animation: 0.5s fadeIn ease;
  }

  &.ng-hide-add { // hiding
    animation: 0.5s fadeOut ease;
  }
}

.alert {
  &.ng-hide-remove { // showing
    animation: 0.5s fadeInDown ease;
  }
  &.ng-hide-add { // hiding
    animation: 0.5s fadeOutUp ease;
  }
}

.bucketlist-list-item {
  cursor: pointer;
  margin-bottom: $grid-gutter-width;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  .bucketlist-list-badges {
    left: floor(($grid-gutter-width / 2));
    position: absolute;
    right: floor(($grid-gutter-width / 2));
    top: floor(($grid-gutter-width / 2));
    z-index: 200;
  }
  .bucketlist-list-badges p {
    border-radius: 20px;
    color: white;
    cursor: pointer;
    margin-left: 5px;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
    text-align: center;
    float: right;
    &:hover .sr-only {
      margin: 0 5px;
      position: relative;
    }
    &:hover i {
      margin: 0 3px;
    }
  }

  .bucketlist-list-badges p.complete {
    background: $brand-success;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.5);
    i {
      top: 3px;
    }
  }
  .bucketlist-list-badges p.message {
    background: $brand-danger;
  }

  .bucketlist-list-item-content {
    min-height: 190px;
  }
  .h4 .small, .bucketlist-list-saving span {
    color: white;
  }
  .bucketlist-list-progress {
    transition: all 0.5s;
    background: $brand-success;
    bottom: 0;
    display: block;
    height: 5px;
    left: 0;
    position: absolute;
    z-index: 100;
  }
}

.bucketlist-list-item-add {
  transition: all 0.5s;
  background: $brand-primary;
  cursor: pointer;

  &:hover {
    background: $link-hover-color;
  }

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }

  .bucketlist-list-item-content {
    min-height: 190px;
  }

  .bucketlist-list-title {
    margin-top: 0;
  }

  i {
    font-size: $font-size-h1;
  }
}

// Bucketlist item
.bucketlist-item {
  background: white;
  margin: $grid-gutter-width 0;
  overflow: hidden;

  //.tools{
  //    position: relative;
  //  }
  //
  //.tools .close{
  //  position: absolute;
  //}

  .pointer {
    cursor: pointer;
  }

  .bucketlist-list-progress {
    display: block;
    margin: floor(($grid-gutter-width / 2)) 0;
    position: relative;
    width: 100%;

  }

  .bucketlist-list-progress .bar {
    transition: all 0.5s;
    background: $brand-success;
    display: block;
    height: 1px;
  }

  .bucketlist-list-progress p {
    background: $brand-success;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    min-height: 30px;
    min-width: 30px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: -15px;
    i {
      top: 2px;
    }
  }

  .cost-date p {
    margin-bottom: 10px !important;
  }
}

.bucketlist-item-title, .bucketlist-item-description, .bucketlist-item-savings, .bucketlist-item-date {
  margin-top: 10px;
  margin-bottom: 10px;
}

// Bucketlist Modal
.bucketlist-modal {
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 300;

  &.ng-scope {
    display: block;
  }

  .scrollable {
    overflow: scroll;
    height: 100%;
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Setup
 */
.page-subtitle {
  margin-top: 0;
}

/**
 *  -------------------------------------------------------------------------
 *
 *  To Do list
 */
.todo-list {
  list-style: none;
  padding: 0;

  .done {
    position: relative;
    &:after {
      content: " ";
      position: absolute;
      width: 100%;
      height: 1px;
      top:50%;
      background: lighten($text-color,25%);
    }
  }
}

/**
 *  -------------------------------------------------------------------------
 *
 *  Comment list
 */

// Comment
.comments {
  .img-container.ng-hide + .comment-img-content {
    height: 33px !important;
    min-height: auto;
  }

  .img-container.ng-hide + .comment-img-content .container-fluid {
    margin-bottom: 0;
    padding: 0;
  }
}

.comment-new .comment-new-subtitle {
  font-family: $font-family-base;
  font-size: $font-size-base;
  line-height: $line-height-base;
  color: $text-color;
}

.comment-list {
  list-style: none;
  padding: 0;
  hr {
    margin-bottom: 0;
  }

  .img-container.ng-hide + .comment-item-img-content {
    min-height: 33px !important;
  }

  .img-container.ng-hide + .comment-item-img-content .container-fluid {
    margin-bottom: 0;
    padding: 0;
  }
}

.comment-item {
  padding: floor(($grid-gutter-width / 2));
  background: white;
  border: 1px solid $gray-lighter;
  -webkit-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.1);
  p, .form-group.content {
    margin-bottom: 0;
  }
}
